@import "lib/mixins"

@import "compass/css3"
@import "compass/support"

@import "animation"
@import "animation/animate"

@import "base/base"
@import "base/buttons"
@import "base/forms"
@import "base/layout"
@import "base/scaffolding"
@import "base/typography"

@import "components/article"
@import "components/comments"
@import "components/header"
@import "components/navbar"
@import "components/post_nav"
@import "components/tooltip"

@import "base/queries"


/* Fixed Topbar Navigation

body
  &.top-navbar
    // padding-top: 60px
  &.admin-bar .navbar-fixed-top
    top: 28px

/* ==========================================================================
  * Content
  * ==========================================================================

// #content!, #main!, #sidebar!

/* ==========================================================================
  * Primary Content
  * ==========================================================================

/* ==========================================================================
  * Sidebar
  * ==========================================================================

/* ==========================================================================
  * Posts
  * ==========================================================================

// .hentry
//   header!, time!, p.byline!, .entry-content!, footer!

/* ==========================================================================
  * Footer
  * ==========================================================================

// #content-info!

/* ==========================================================================
  * WordPress Generated Classes
  * See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
  * ==========================================================================

.aligncenter
  display: block
  margin: 0 auto

.alignleft
  float: left

.alignright
  float: right

figure.alignnone
  margin-left: 0
  margin-right: 0

/* ==========================================================================
  * Media Queries
  * ==========================================================================

@media (max-width: 979px)
  /* Fix top padding when using the responsive grid with the fixed topbar
  body.top-navbar
    padding-top: 0