article
  padding: 60px 40px 0
  border-top: 1px solid #ddd
  &:first-child
    border: none

  header
    margin: 0 0 30px
    max-width: 600px

    h1
      // text-align: center
      margin-top: 0

      a
        color: #000

        &:hover
          color: #58c6a8
          text-decoration: none

    hr
      height: 7px
      border: none
      background: url(../img/date-spacer.png) no-repeat center top
      margin: 17px 0

    time
      color: #555555
      letter-spacing: .3em
      text-transform: uppercase
      text-align: left
      display: block
      font-size: 12px

  .entry-content
    margin: 0 0 70px
    max-width: 600px
    text-align: justify
    text-justify: inter-word