#comments-container
  max-width: 600px

  > hr
    height: 6px
    border: 1px solid #ddd
    border-left: none
    border-right: none

  #respond
    h3
      font-weight: 100

    textarea, input
      width: 100%
      height: 37px
      +box-sizing(border-box)

    textarea
      height: 140px

    #submit
      text-transform: uppercase
      letter-spacing: .2em
      font-size: 12px
      padding: 15px 20px
      height: auto

      &:focus
        padding: 13px 18px

  #comments
    h3
      font-weight: 100

    ol.comment-list
      margin: 0
      list-style: none

      li.comment
        article
          padding: 0
          margin: 20px 0 0

        cite.fn
          display: block
          color: #000
          font-weight: bold

        time
          font-size: 12px
          display: block

        section.comment
          margin: 2em 0
          font-size: 13px

        ul.children
          list-style: none
          margin-left: 50px