// Animates the cloud from left to right.
// Should be used with a cosine easing eq.
+keyframes(cloud-hor)
  0%
    opacity: 1
    left: 32%
  50%
    opacity: 1
    left: 68%
  100%
    opacity: 1
    left: 32%

// Animates the cloud from top to bottom,
// and from large to small.
// Should be used with a cosine easing eq.
// and a 1/2 period delay
+keyframes(cloud-vert-size)
  0%
    top: 6px
    width: 44px
  50%
    top: 0
    width: 30px
  100%
    top: 6px
    width: 44px

#banner
  height: 100%
  position: fixed
  width: 300px

  .navbar-inner
    background: #58c6a8
    padding: 0 35px
    position: relative
    height: 100%
    +box-shadow(none)

    .container
      position: relative
      +transition(.2s padding-bottom)

    .brand
      position: relative
      color: #fff
      text-shadow: none
      margin: 80px auto 0
      width: 146px
      height: 98px
      padding: 0
      text-indent: -999em
      background: url(../img/logo.png) no-repeat
      float: none
      z-index: 2

      left: 0
      opacity: 1
      +transition(.2s all)

      .cloud
        display: block
        position: absolute
        width: 44px
        height: 26px
        margin-left: -26px
        top: 7px
        opacity: 0
        $duration: 10s

        +animation(cloud-hor $duration cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite)

        img
          position: absolute
          display: block
          width: 44px
          margin: 0 auto

          +animation(cloud-vert-size $duration cubic-bezier(0.445, 0.050, 0.550, 0.950) $duration*(-3/4) infinite)

        &.cloud2
          +animation-delay($duration*(-1/4))
          img
            +animation-delay(-$duration)
        &.cloud3
          +animation-delay($duration*(-2/4))
          img
            +animation-delay($duration*(-1/4) - $duration)
        &.cloud4
          +animation-delay($duration*(-3/4))
          img
            +animation-delay($duration*(-2/4) - $duration)

    #intro-line
      color: #fff
      font-size: 12px
      line-height: 16px
      text-align: center
      font-weight: 100
      margin: 20px 0

    #social-icons
      padding: 0
      margin: 50px 0 0
      list-style: none

      > li
        > a
          display: block
          width: auto
          min-width: 32px
          height: 32px
          background-repeat: no-repeat
          background-position: center 0
          text-decoration: none
          // left: 45%
          // top: 0
          opacity: .3
          +transition-timing-function(cubic-bezier(0.770, 0.000, 0.175, 1.000))
          +transition-property(all)
          +transition-duration(.2s)

          > span
            display: block
            font-size: 12px
            line-height: 32px
            color: #fff
            text-align: center
            opacity: 0
            +transition(.2s all)

          &:hover
            background-position: 0 0
            opacity: 1
            > span
              opacity: 1

        .icon-mail
          background-image: url(../img/icon-mail.png)
          // +transition-delay(.05s)
        .icon-dribbble
          background-image: url(../img/icon-dribbble.png)
          // +transition-delay(0)
        .icon-github
          left: 55%
          background-image: url(../img/icon-github.png)
          // +transition-delay(0)
        .icon-twitter
          left: 55%
          background-image: url(../img/icon-twitter.png)
          // +transition-delay(.05s)
        .icon-rss
          left: 55%
          background-image: url(../img/icon-rss.png)

  &:hover