.btn
  background: #ddd
  border: none
  text-shadow: none
  color: #666
  padding: 10px 20px
  +box-shadow(none)
  +transition(.1s background-color,color)

  &:focus
    outline: none
    border: 2px solid #58c6a8
    padding: 8px 18px

  &:hover
    background: #58c6a8
    color: #fff