input[type=text], input[type=password], input[type=url], input[type=email], textarea
  border-color: #ddd
  padding: 10px 15px
  font-weight: 200
  +box-shadow(none)

  &:focus
    +box-shadow(none)
    border-color: #58c6a8

textarea
  resize: none