@media (max-width: 767px)
  article
    padding: 60px 10px 0
  #post-nav
    padding: 0 10px
  .pager
    .previous, .next
      a
        float: none
        display: block
  #wrap
    margin-left: 0
  #banner
    height: auto
    width: auto
    position: relative
    .navbar-inner
      .brand
        margin-top: 40px
      #social-icons
        text-align: center
        margin: 40px 0 20px
        > li
          display: inline-block
          margin: 0 20px
          > a
            +transition-timing-function(ease-in-out)
            span
              display: none