.container-left
  margin: 0

@media (min-width: 980px)
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
    width: 940px

  .row
    margin-left: -20px

    [class*="span"]
      margin-left: 20px

    .span12
      width: 940px

    .span11
      width: 860px

    .span10
      width: 780px

    .span9
      width: 700px

    .span8
      width: 620px

    .span7
      width: 540px

    .span6
      width: 460px

    .span5
      width: 380px

    .span4
      width: 300px

    .span3
      width: 220px

    .span2
      width: 140px

    .span1
      width: 60px

    .offset12
      margin-left: 980px

    .offset11
      margin-left: 900px

    .offset10
      margin-left: 820px

    .offset9
      margin-left: 740px

    .offset8
      margin-left: 660px

    .offset7
      margin-left: 580px

    .offset6
      margin-left: 500px

    .offset5
      margin-left: 420px

    .offset4
      margin-left: 340px

    .offset3
      margin-left: 260px

    .offset2
      margin-left: 180px

    .offset1
      margin-left: 100px