h1, h2, h3, h4, h5, h6
  color: #000
  margin: 1.2em 0 0.4em

h1
  font-family: bebas-neue, sans-serif
  font-size: 36px
  line-height: 40px
  letter-spacing: .1em
  text-transform: uppercase
  font-weight: 100

h2
  font-size: 26px
h3
  font-size: 19px
  color: #333

p, ul, ol
  margin-bottom: 1.4em

b, strong
  color: #555

li
  margin-bottom: 1em